$button_border_width:2px;
$button_colour_background:#f5f5f5;
$button_colour_background_primary:#69b61d;
$button_colour_background_selected:#4aa1c5;
$button_colour_background_unselected:#fff;
$button_colour_background_cancel:#999;
$button_colour_text:#333;
$button_colour_text_inverse:#fff;

.button_selection {
  .field & {margin:.3em -.3em 0; border:transparent solid 1px; padding:.3em .3em 0 .3em;}
  li {display:inline-block;}
  [type="radio"] {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;
    &:focus + label {box-shadow:0 0 3px 3px rgba($colour_link, .3);}
  }
  label {background:$button_colour_background_unselected; color:$button_colour_background_selected; border:$button_colour_background_selected solid 1px; padding:.6em 1em .7em; font-weight:normal; margin:0 .1em .5em 0;
    span {color:#666; display:block; text-align:center;}
  }
  label:active,
  input:checked + label {background:$button_colour_background_selected; color:$button_colour_text_inverse; border:$button_colour_background_selected solid 1px;
    span {color:#eee;}
  }
  input:not([disabled]) + label:hover {background:$button_colour_background_selected; color:$button_colour_text_inverse;
    span {color:#666;}
  }
  input[disabled] + label {cursor:not-allowed;}
}